<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/style.css" type=text/css rel=stylesheet />
  <title>Users</title>
</head>
<body>
  <table class="styled-table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Email</td>
        <td>Contraseña</td>
      </tr>
    </thead>
    <tbody>
      <% Users.forEach((user) => { %>
        <tr>
          <td><%= user._id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>